* {
  box-sizing: border-box;
 
}

.top-page-header {
  width: 100vw;
  /* padding: 2vh 15vw; */
  padding: 0.5rem 12rem;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}


.top-page-header h1{
  font-size: 45px;
  margin-bottom: 20px;
  font-size: 3.4rem;
  font-style: italic;
  letter-spacing: .1em;
  color: rgb(253, 232, 240);
  text-shadow: -3px 2px 0 rgb(19, 18, 18);
  
}

.top-page-header-2 {
  width: 100vw;
  /* padding: 2vh 15vw; */
  padding: 0.5rem 12rem;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}


.top-page-header-2 h1{
  font-size: 45px;
  margin-bottom: 20px;
  font-size: 3.4rem;
  font-style: italic;
  letter-spacing: .1em;
  color: rgb(253, 232, 240);
  text-shadow: -3px 2px 0 rgb(19, 18, 18);
  text-align: center;
}



.title-link{
  text-decoration: none;
}



/* .search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .furima-icon {
  width: 10vw;
  margin-right: 10vw;
} */

.search-form {
  width: 65vw;
  height: 7vh;
  display: flex;
  margin-bottom: 5px;
  
}

.search-form>.input-box {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: solid rgb(180, 173, 173);
 
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #fa709a;
  padding: 8px;
}

.search-icon {
  width: 100%;
  
}

.nav {
  font-size: 23px;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}


.lists {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: space-between;
}




.user-name{
  text-decoration: none;
  
  color: #28d5f3;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;

}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.purchase-btn {
  width: 400px;
  background: #d33cc6;
  text-align: center;
  border-radius: 100%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 20px;

}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.problem-mark{
  font-weight: bold;
  font-size: 30px;
  margin-right: 8px;
}

.problem-lists{
  
  height: 60px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(141, 133, 133);
  margin-top: 30px;
}

.user-names{
  width: 20vw;
  
  height: 100%;
}


.link-title{
  text-decoration: none;
  color: black;
}

