* {
  box-sizing: border-box;
 
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  color:  #e751e7;
  background-color: rgb(240, 203, 240);
}

/* .search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .furima-icon {
  width: 10vw;
  margin-right: 10vw;
} */

.search-form {
  width: 65vw;
  height: 7vh;
  display: flex;
  margin-bottom: 5px;
  
}

.search-form>.input-box {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: solid rgb(180, 173, 173);
 
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #db80db;
  padding: 8px;
}

.search-icon {
  width: 100%;
  
}

.nav {
  font-size: 23px;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}


.lists {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: space-between;
}


.user-name{
  text-decoration: none;
  
  color: #2c7eeb;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;

}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.purchase-btn {
  width: 400px;
  background: #d33cc6;
  text-align: center;
  border-radius: 100%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 20px;

}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.problem-mark{
  font-weight: bold;
  font-size: 30px;
  margin-right: 8px;
}

.problem-lists{
  
  height: 60px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(141, 133, 133);
  margin-top: 30px;
}

.user-names{
  width: 20vw;
  
  height: 100%;
}


.link-title{
  text-decoration: none;
  color: black;
}