<%= render partial: "problems/header" %>

<div class='problems'>
  <% @problems.each do |problem| %>
    <div class='problem-lists'>
      <%= link_to problem_path(problem.id),class:"link-title", method: :get do %>
        <div class="problem-text">
          <p class="problem"><%= problem.title %></p>
        </div>
      <% end %>
      <% if problem.solved_worrie != nil%>
        <div class="problem-solved">
          <h4>解決済み</h4>
        </div>
      <%end%>
    </div>
  <% end %>
</div>

<div class='purchase-btn'>
  <a class='purchase-btn-text' href="/problems/new"><span class=problem-mark>Q</span>お悩み相談する</a>
</div>

