.form-header-text-profile {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
  color: rgb(228, 74, 176);
}

.profiles{
  color: rgb(27, 89, 221);
  padding: 0.5em 1em;
    margin: 1em 0;
    background: #f4f4f4;
    border-top: solid 6px #fda1bd;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  width: 40%;
  font-size: 25px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.self-introduction-title{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  color: rgb(116, 98, 98);
}

.blue-title{
  color: rgb(116, 98, 98);
  margin-top: 55px;
}

.edits{
  width: 50vw;
  text-align: center;
  margin: 0 auto;
}

.profile-edit{
  text-decoration: none;
  background-color: rgb(61, 212, 223);
  padding: 1px;
  color: white;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px #2a5253 inset;
  border-radius: 2px;
  transition: .3s;
  margin-top: 30px;
  margin-bottom: 90px;
}

.profile-edit-user-link{
  text-decoration: none;
  color: white;
  font-size: 17px;
  
}

.user-previews-links{
  width: 50vw;
  text-align: center;
  margin: 0 auto;
  
}

.user-previews-link{
  text-decoration: none;
  background-color: rgb(84, 219, 31);
  padding: 1px;
  color: white;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px #2a5253 inset;
  border-radius: 2px;
  transition: .3s;
  margin-top: 30px;
}

.user-previews-link-go{
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.profile-settings{
  margin-bottom: 150px;
}